@import './base.css';
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

@theme {
  /*  */
  --color-hacker: #20c20e;
  --color-hackerbg: #062703;

  --color-background: #121212;
}

@font-face {
  font-family: 'FiraCodeNerdFontMono-Regular';
  src: url('/fonts/FiraCodeNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps with loading performance */
}
